<div class="card position-relative m-3" style="width: 16rem; height: 20rem;">
    <img src="https://m.media-amazon.com/images/M/MV5BMjEwMDA1MDUwNl5BMl5BanBnXkFtZTcwMDQzMzM1MQ@@._V1_.jpg"
        class="card-img" alt="Tokyo Train">
    <button type="button" class="btn btn-outline-secondary position-absolute top-0 end-0 m-2">
        <i class="fa-regular fa-heart"></i>
    </button>
    <div class="play-button position-absolute top-50 start-50 translate-middle">
        <a href={{url}} class="btn bg-light-purple rounded-circle p-3">
            <i class="fa-solid fa-play"></i>
        </a>
    </div>
    <div class="card-body-overlay position-absolute bottom-0 w-100 text-center p-3">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{year}} | {{category}}</p>
    </div>
</div>
