<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h2 style="color:white">Stream</h2>
            <button class="btn bg-purple m-lg-2" type="button"><i class="fa fa-user-group"></i> Invite</button>
            <button class="btn bg-purple" type="button"><i class="fa fa-sms"></i> Chat</button>
            <button class="btn"><i class="fa fa-sign-out" style="color:white"></i></button>
            <button class="btn"><img style="width: 35px; height: 35px;" src="assets/icons/icons_emojis/angry-face_10963622.png" alt=""></button>
            <button class="btn"><img style="width: 35px; height: 35px;" src="assets/icons/icons_emojis/confused_5644455.png" alt=""></button>
            <button class="btn"><img style="width: 35px; height: 35px;" src="assets/icons/icons_emojis/cool-dude_10963628.png" alt=""></button>
            <button class="btn"><img style="width: 35px; height: 35px;" src="assets/icons/icons_emojis/happy-face_11068891.png" alt=""></button>
            <button class="btn"><img style="width: 35px; height: 35px;" src="assets/icons/icons_emojis/happy-face_11068936.png" alt=""></button>
            <button class="btn"><img style="width: 35px; height: 35px;" src="assets/icons/icons_emojis/heart-eyes_11068929.png" alt=""></button>
            <button class="btn"><img style="width: 35px; height: 35px;" src="assets/icons/icons_emojis/laugh-wink_10963564.png" alt=""></button>
            
            <div class="container">
                <video src="http://localhost:8080/stream/demo2" width="820px" height="480px" controls preload="none"></video>
                <h2 style="color:white">Streaming Movie 1</h2>
            </div>
        </div>
        <div class="col-md-4">
            <h2 style="color:white">Group Chat</h2>
            <div class="chat-box" style="height: 590px; background-color: #f8f9fa; padding: 10px; border: 1px solid #ddd;">
                <div id="chat-messages" style="height: 520px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; background: #fff;">
                    <!-- Mensajes del chat -->
                </div>
                <div class="input-group mt-2">
                    <input type="text" class="form-control" placeholder="Escribe un mensaje...">
                    <div class="input-group-append">
                        <button class="btn bg-purple" type="button">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
