<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #21201E;">
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">

            <button class="btn bg-purple m-2" type="button" (click)="inviteModal.show()"><i class="fa fa-user-group"></i>Invite</button>

            <button class="btn bg-purple m-2" *ngIf="usuarioLogeado && !mostrarChat" (click)="mostrarChat=true"  type="button"><i class="fa fa-sms"></i> Chat</button>

            <button class="btn m-1"><a href="app/dashboard"><i class="fa fa-sign-out" style="color:white"></i></a></button>

            <button class="btn m-1"><img src="assets/icons/icons_emojis/angry-face_10963622.png" alt=""></button>
            <button class="btn m-1"><img src="assets/icons/icons_emojis/confused_5644455.png" alt=""></button>
            <button class="btn m-1"><img src="assets/icons/icons_emojis/cool-dude_10963628.png" alt=""></button>
            <button class="btn m-1"><img src="assets/icons/icons_emojis/happy-face_11068891.png" alt=""></button>
            <button class="btn m-1"><img src="assets/icons/icons_emojis/happy-face_11068936.png" alt=""></button>
            <button class="btn m-1"><img src="assets/icons/icons_emojis/heart-eyes_11068929.png" alt=""></button>
            <button class="btn m-1"><img src="assets/icons/icons_emojis/laugh-wink_10963564.png" alt=""></button>

            <div class="container mt-4">
                <video
                id="video"
                class="video-js vjs-default-skin vjs-big-play-centered"
                controls
                preload="auto"
                width="640"
                height="264"
                [attr.data-setup]="{}"
              >
                <source [src]="videoSrc" type="video/mp4" />
                <track id="track" kind="subtitles" src="" srclang="en" label="English" default />
              </video>
                <h2 style="color:white" class="mt-2">Streaming Active</h2>
            </div>
        </div>
        <div class="card text-center cardContainer" *ngIf="usuarioLogeado && mostrarChat">
            <div class="card-header">
                CHAT
                <div class="closeIcon" (click)="mostrarChat=false">X</div>
            </div>

            <div class="card-body">
                <div id="contenedorDeMensajes" class="contenedorDeMensajes h-100">
                    <p *ngFor="let mensaje of mensajes" class="msj p-2"
                        [ngClass]="(usuarioLogeado.id==mensaje.emisor)? 'enviado' : 'recibido'"
                    >
                        {{mensaje.texto}}
                    </p>
                </div>
            </div>

            <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
                <input type="text" class="form-control" placeholder="Ingrese su mensaje" [(ngModel)]="nuevoMensaje"
                [ngModelOptions]="{standalone: true}">
                <div class="input-group-append" (click)="enviarMensaje()">
                    <span class="input-group-text" id="basic-addon2">
                        <img class="imgEnviar" src="../../../assets/icons/640874-200.png" width="20px" alt="send message">
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<app-modal #inviteModal>
    <app-invite-modal

    />
</app-modal>