
.cardContainer{
    width: 300px;
    height: 480px;
    position: absolute;
    right: 60px;
    bottom: 110px;
    padding: 0;
    margin: 0;
    
}

.card-header{
    background-color: #6f42c1;
    color: white;
    font-weight: 700;
}

.card-body{
    padding: 0.5rem;
    background-image: "../../../assets/icons/wallpaper.png";
    //background-color: black;
}

.card-footer{
    background-color: #333;;
}

.imEnviar:active{
    transform: scale(0.9);
}

.enviado{
    display: block;
    float: right;
    background-color: teal;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}

.recibido{
    display: block;
    float: left;
    background-color: gray;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}

.contenedorDeMensajes{
    overflow: scroll;
    padding: 0.3rem;
}

.contenedorDeMensajes::-webkit-scrollbar{
    display: none;
}

.closeIcon{
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    cursor: pointer;
}

.bg-purple {
    background-color: #6f42c1;
    color: white;
}
.btn img {
    width: 30px;
    height: 30px;
}
@media (max-width: 768px) {
    .container h2 {
        font-size: 1.5rem;
    }
    .container video {
        width: 100%;
        height: auto;
    }
    .chat-box {
        height: auto;
    }
    #chat-messages {
        height: 300px;
    }
}

.notificacion {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 12px;
}

.btn {
    position: relative; 
  }
