<div class="container-fluid">
    <div>
      <h2>Movies</h2>
    </div>
    <div>
      @defer {
      <div class="d-flex justify-content-end pb-2">
        <button type="button" class="btn bg-purple d-flex align-items-center" (click)="formModal.show()">
          <i class="fa-solid fa-plus white"></i>
          <p class="mb-0">Add Movie</p>
        </button>
      </div>
      <app-movie-list></app-movie-list>
      } @loading (after 100ms; minimum 1s){
      <!-- <app-loader></app-loader> -->
      }
    </div>
  </div>
  
  <app-modal size="lg" #formModal>
    <app-movie-form [title]="'Add Movie'"></app-movie-form>
  </app-modal>
